<h2>Login</h2>  
  
<%= form_tag do_login_path, :class => 'login' do %>  
    <p>
      <%= label_tag :name, 'User Name' %>
      <br>
      <%= text_field_tag :name, params[:name] %>  
    </p>
    <p>
      <%= label_tag :password %>  
      <br>
      <%= password_field_tag :password %>  
    </p>
  <p><%= submit_tag "Login" %></p>  
<% end %>  

