<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <% if false %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.hidden_field :venue_id %>
    <%= f.autocomplete_field :venue_name, 
                             autocomplete_venue_name_events_path, 
                             id_element: '#event_venue_id' %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date %>
  </div>
  <div class="field">
    <%= f.label :opening_date %><br>
    <%= f.text_field :opening_date %>
  </div>
  <div class="field">
    <%= f.label :opening_start_time %><br>
    <%= f.time_select :opening_start_time, minute_step: 30, ampm: true %>
  </div>
  <div class="field">
    <%= f.label :opening_end_time %><br>
    <%= f.time_select :opening_end_time, minute_step: 30, ampm: true %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
