<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<% if false %>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<% end %>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @event.opening_date %>
</p>

<p>
  <strong>Opening start time:</strong>
  <%= @event.opening_start_time %>
</p>

<p>
  <strong>Opening end time:</strong>
  <%= @event.opening_end_time %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event.website %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
