/*
 *= require jquery-ui
 */

h2 a {
  color: #BD2408;
  letter-spacing: 1px;
  font-weight: normal;   
  text-decoration: none;
}

#event_title, #event_website, #event_venue_name {
  width: 390px;
}

#event_start_date, #event_end_date, #event_opening_date {
  width: 80px;
}

#venue_name, #venue_address, #venue_website {
  width: 300px;
}

.login #name, .login #password {
  width: 150px;
}
