<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title><%= content_for?(:title) ? yield(:title) : "Filterizer" %></title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "blueprint/screen.css" %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie.css" %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin.css" %>
  </head>

  <body class="<%= body_class %>">
    <div class="container">
    
      <section id="header">
        <h2><a href="/">FILTERIZER</a></h2>
        <% if current_user %>
          <p><%= link_to "venues", venues_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "events", events_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "logout", logout_path, :method => :delete %></p>
          <p><%= link_to "new venue", new_venue_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "new event", new_event_path %></p>
        <% end %>
      </section>

      <section id="main">
        <%= yield %>
      </section>

    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
