<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= favicon_link_tag '/favicon.ico' %>
  	<title><%= content_for?(:title) ? yield(:title) : "Filterizer" %></title>

    <meta name="description" content="A one-page art show recommendation website from Barry Hoggard and James Wagner">
    <meta name="viewport" content="width=device-width">

    <%= javascript_include_tag "modernizr-2.6.2.min" %>
  	<%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_class %>">
    
    <section id="header">
      <h2><a href="/">FILTERIZER</a></h2>
    </section>

    <section id="main">
      <%= yield %>
    </section>

    <section id="footer">
      <p>A one-page art show recommendation website from <a href="https://twitter.com/bhoggard">@bhoggard</a> and <a href="https://twitter.com/wagnerblog">@wagnerblog</a>. Follow us on Twitter: <a href="https://twitter.com/filterizer">@filterizer</a>.</p>
    </section>

    <%= javascript_include_tag "application" %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43717201-1', 'filterizer.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
